@use "./typography" as *;

$green: #8cbd54;

$lightgreen: #ddf6c2;

$darkgreen: #427a03;

$white: #ffffff;

$black: #232940;

$charcoal : rgb(123, 120, 120);

$orange: #fff2e8;

$lightgrey: lightgrey;

$message: #43a047;

$purple: #d5dff7;

$darkpurple: #301d49;

$lightpurple: #dcc8ff;