@use "./typography" as *;

$green: #8cbd54;

$darkgreen: #427a03;

$white: #ffffff;

$black: #232940;

$orange: #fff2e8;

$lightgrey: lightgrey;

$purple: #d5dff7;

$darkpurple: #301d49;

$lightpurple: #dcc8ff;