@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.restaurant-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    background-color: $orange;
    margin: 10px auto;
    gap: 10px;

    h3 {
        font-size: 20px;
    }
}

.carousel-container {
    width: 95%;
    margin: auto;
    padding: 0.5rem;
}