@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}