@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

li {
    text-decoration: none;
}

.hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.25rem;
    width: 20rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h4 {
        font-size: 18px;

    }
}