@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.modal_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: $white;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 70%;

        &__title {
            font-weight: 600;
            font-size: 1rem;
            padding: 0.5rem;
            background-color: $lightgrey;
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            cursor: pointer;
        }

        &__form {
            margin: 3rem 1.5rem;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 2rem;

                label {
                    font-size: 1rem;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }

                input {
                    padding: 0.5rem;
                    border: 0.125rem solid $lightgrey;
                    border-radius: 0.15rem;
                }

                button {
                    border: none;
                    padding: 0.5rem;
                    color: $white;
                    width: 7rem;
                    font-weight: 500;
                    font-size: 0.75rem;
                    background-color: $darkpurple;
                    cursor: pointer;
                    border-radius: 2rem;

                    &:hover {
                        background-color: $purple;
                        color: $black;
                    }
                }

            }
        }
    }
}