@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.slide {
    display: flex;
    justify-content: center;
    background-color: $white;

    .container {
        width: 100%;

        .carousel-prev,
        .carousel-next {
            width: 30px;
            height: 30px;
            background-color: $white;
            border: 1px solid $lightgrey;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

}